.b3-block1-1:hover .overlay{
    opacity: 0.9;
}
.b3-block1-0:hover .overlay{
    opacity: 0.9;
}
.b3-block1-2:hover .overlay{
    opacity: 0.9;
}
.b3-block1-3:hover .overlay{
    opacity: 0.9;
}
.overlay {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e2db19;
}

.texthov{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/**callback**/
.navbutton{
    width: auto;
    right: 0;
    color: #757575!important;
    padding-top: 28%;
    position: fixed;
    margin-right: 0px!important;
    font-size: 36px!important;
    z-index: 8;
    top:  31px;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;

}
.ibar{

    height: 60px;
    width: 60px;
    background-color: #e2db19;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    z-index: 10;
}
.navslide{
    opacity:0.8;
    display: none;
    padding-top: 150px;
    right: 0px;
    width: 60%;
    color: #fff!important;
    background-color: #000!important;
    osition: relative;
    -webkit-animation: animateright 0.4s;
    animation: animateright 0.4s;
    font-size: 36px!important;
    text-align: center!important;
    height: 100%;
    position: fixed!important;
    z-index: 10;
    overflow: auto;

}
.anav{
    padding: 0 12px;
    display: block;
    padding: 4px 2px 4px 16px;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    text-decoration: none!important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 48px!important;
    color: inherit;
    text-align: center!important;
    line-height: 1.5;
}
.inav{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    color: inherit;
}
.ibar2{
    background-image: url("PHONE1.png");
    margin-top: 69.6%;
    height: 60px;
    width: 60px;
    background-color: #e2db19;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    z-index: 10;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    text-decoration: none!important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 48px!important;
    color: inherit;
    text-align: center!important;
    line-height: 1.5;
}
/**inside slide block**/
.sidenavblock{
    text-align:right;
    margin-right:20%;
    font-size: 24px;
    padding-bottom: 10px;
}

.form1{
    font-size: 22px;
    height:33px;
    width: 70%;
    margin:5px;
}
.button{

    background-color: #e2db19; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.textbott{
    font-family: 'Lato', sans-serif;
}


/**callback footer**/
.sidenavblock1{
    padding-left: 16%;
    padding-right: 16%;
    text-align: right;
    font-size: 24px;
    padding-bottom: 10px;
}

.form1{
    font-size: 22px;
    height:33px;
    width: 70%;
    margin:5px;
}
.button{

    background-color: #e2db19; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.textbott{
    font-family: 'Lato', sans-serif;
}


.end-callback{
    z-index: 8;
    opacity:    ;
    padding-top: 12%;
    width: 100%;
    color: #fff!important;
    position: relative;
    font-size: 36px!important;
    text-align: center!important;
    height: 100%;
    overflow: auto;
}
.end-callbackblock{
    border: none;
    height:23px;
    width: 100%;
}
.end-callbackmess{
    border: none;
    height: 147px;
    width:100%;
}
.text-callbakc{
   text-align: right;
    font-family: 'Montserrat', sans-serif;

}
.B00{
    background-image: url(https://static1.squarespace.com/static/577fc5d79de4bb3db0c7dc0a/t/582c30b91b631bf880587c12/1479291068952/?format=2500w);
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}