@import url('https://fonts.googleapis.com/css?family=Montserrat');
.nav {
  position: fixed;
  width: 100%;
  top: -1px;
  z-index: 2;
}
.nav1 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  width: 100%;
  overflow: hidden;
  letter-spacing: 4px;
}
.navlogo {
  background-color: inherit;
  color: inherit;
  margin-left: 16px!important;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;
}
.navmenu {
  float: right!important;
  padding-right: 30%;
}
.navtag {
  background-color: inherit;
  color: inherit;
  padding: 22px 16px;
  float: left;
  background-color: inherit;
  color: inherit;
  width: auto;
  border: none;
  outline: none;
  display: block;
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
}
.navtag:hover{
  color: #e2db19;
}
.b2 {
  z-index:2;
  background-position: 50% 50%;
  background-image:;
  margin-top: -1px;
  height: 668.16px;
  overflow: hidden;
  position: relative;
  background-color: #a9a9a9;
  background-repeat: no-repeat;
  background-size: cover;
}
.b2-block0 {
  background-color: rgba(0, 0, 0, 0.94);
  height: 668.16px;
  position: absolute;
  top: 0;
  right: 60%;
  opacity: 0.8;
  width: 100%;
}
.b2-block1 {
  background-image: url();
  background-color: white;
  right: 3%;
  position: absolute;
  top: 12%;
  left: 35%;
  bottom: 12%;
  z-index: 5;
  opacity: 0.9;
  padding: 10px;
}
.b2-block1-01 {
  background-color: ;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0%;
  height: 50%;
  width: 100%;
}
.b2-block1-01-00 {
  background-color: ;
  top: 0;
  width: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  padding-left: 8%;
  padding-top: 3%;
}
.b2-block1-01-01 {
  padding-right: 8%;
  padding-top: 3%;
  background-color: ;
  top: 0;
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
}
.b2-block1-02-03{
  background-color: ;
  z-index: 10;
  position: absolute;
  left: 0;
  height: 100%;
  bottom: 0;
  width: 33.3%;
}

.b2-block1-02-04{
  background-color: ;
  z-index: 10;
  position: absolute;
  left: 33.3%;
  height: 100%;
  bottom: 0;
  width: 33.3%;
}

.b2-block1-02-05{
  background-color: ;
  z-index: 10;
  position: absolute;
  right:0;
  height: 100%;
  bottom: 0;
  width: 33.4%;
}
.b2-block1-02 {
  background-color: ;
  z-index: 10;
  position: absolute;
  left: 0;
  height: 50%;
  bottom: 0;
  width: 100%;
}
.b2-block2 {
  background-color: ;
  right: 70%;
  position: absolute;
  top: 17%;
  left: 14%;
  bottom: 60%;
  z-index: 4;
  border-width: 9px;
  border-style: solid;
  border-color: #1d1d1d;
}
.b2-block3 {
  background-color: ;
  right: 67%;
  position: absolute;
  top: 43%;
  left: 18%;
  bottom: 15%;
  z-index: 5;
}
.b1 {
  position: relative;
  height: 668.16px;
  background-position: 50% 30%;
  overflow: hidden;
  background-size: cover;
 /** background-image: url(https://wallpaperscraft.ru/image/ipad_iphone_mac_gadzhety_apple_101026_1920x1200.jpg);
  background-color: #004B8D;*/
  margin: 0px auto;
  background-repeat: no-repeat;
}
.b1-block0 {
  background-image: url();
  background-color: rgba(0, 0, 0, 0.94) ;
  height: 100%;
  right: 60%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.b1-text h1 {
  position: relative;
  padding-top: 15%;
  padding-left: 24%;
  text-align: left;
  font-size: 30px;
  line-height: 50px;
  font-family: "SeroPro-Bold";
  opacity: 1;
  z-index: 5;
}
.b1-block1 {
  border-width: 7px;
  border-style: solid;
  border-color: #6f6f6f;
  right: 50%;
  position: absolute ;
  top: 43%;
  left: 25%;
  bottom: 30%;
  z-index: 1;
}
.b4 {
  z-index: 5;
  background-position: 50% 50%;
  background-image: url(https://images.pexels.com/photos/257875/pexels-photo-257875.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-color: white;
  height: 668.16px;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.b4-block0 {
  background-color: ;
  right: 0;
  top: 10%;
  left: 40%;
  bottom: 10%;
  z-index: 5;
  position: absolute;
}
.b4-block0-0 {
  background-color: ;
  right: 0;
  top: 0;
  left: 0;
  bottom: 75%;
  z-index: 6;
  position: absolute;
}
.b4-block0-1 {
  background-color: ;
  right: 0;
  top: 25%;
  left: 0;
  bottom: 50%;
  z-index: 6;
  position: absolute;
}
.b4-block0-2 {
  background-color: ;
  right: 0;
  top: 50%;
  left: 0;
  bottom: 25%;
  z-index: 6;
  position: absolute;
}
.b4-block0-3 {
  background-color: ;
  right: 0;
  top: 75%;
  left: 0;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.b4-block1 {
  background-color: grey;
  right: 70%;
  position: absolute;
  top: 17%;
  left: 8%;
  bottom: 55%;
  z-index: 5;
}
.b4-block2 {
  background-color: grey;
  right: 70%;
  position: absolute;
  top: 50%;
  left: 10%;
  bottom: 15%;
  z-index: 5;
}
.b4-block3 {
  background-color: rgba(0, 0, 0, 0.94);
  height: 668.16px;
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  margin: -1px;
}
.b3 {

  z-index: 5;
  background-position: 50% 50%;
  background-image: url(https://il2.picdn.net/shutterstock/videos/15834727/thumb/1.jpg  );
  margin-top: -1px;
  height: 668.16px;
  overflow: hidden;
  position: relative;
  background-color: #56c5c1;
  background-repeat: no-repeat;
  background-size: cover;
}
.b3-block0 {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.94);
  height: 668.16px;
  right: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
#div2{
  z-index: -1;
}
#div1 {
  z-index: -1;
}
#div3{
  z-index: -1;
}
.b3-block1 {
  overflow-x: hidden;
  background-color: yellow;
  height: 668.16px;
  right: 0;
  position: absolute;
  top: 0;
  width:  703.16px;
}
.b3-block2 {
  background-color: ;
  right: 52%;
  position: absolute;
  top: 40%;
  left: 27%;
  bottom: 20%;
  z-index: 5;
}
.b3-block1-0 {
  background-image: url();
  background-color: #cacaff;
  background-position: 50% 50%;
  display: inline-block;
  position: relative;
  z-index: 5;
  width: 341.08px;
  height: 334.08px;
  background-repeat: no-repeat;
  background-size: cover;
}
.b3-block1-1 {
  background-image: url(https://wallpaperscraft.ru/image/apple_mac_seryy_fon_82400_602x339.jpg);
  background-color: #c2ff74;
  right: 0;
  left: 50%;
  position: absolute;
  top: 0;
  background-position: 50% 50%;
  z-index: 5;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.b3-block1-2 {
  background-image: url(https://wallpaperscraft.ru/image/app_storm_apple_mac_chernyy_belyy_bukvy_8159_602x339.jpg);
  background-color: #d9ff04;
  right: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  background-position: 50% 50%;
  z-index: 5;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.b3-block1-3 {
  background-image: url(https://wallpaperscraft.ru/image/facebook_feysbuk_socialnaya_set_logo_siniy_4686_602x339.jpg);
  background-color: #ffff5d;
  right: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  background-position: 50% 50%;
  z-index: 5;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.b5 {
  z-index: 5;
  height: 668.16px;
  overflow: hidden;
  background-color: #ffef36;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/48728/pexels-photo-48728.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  position: relative;
  background-repeat: no-repeat;
}
.b5-block0 {
  background-color: grey;
  right: 3%;
  position: absolute;
  top: 10%;
  left: 27%;
  bottom: 10%;
  z-index: 5;
}
.b5-block0-0 {
  background-color: #ffe702;
  right: 75%;
  top: 0;
  left: 0;
  bottom: 75%;
  z-index: 6;
  position: absolute;
}
.b5-block0-1 {
  background-color: #fff815;
  right: 75%;
  top: 25%;
  left: 0;
  bottom: 50%;
  z-index: 6;
  position: absolute;
}
.b5-block0-2 {
  background-color: #fff278;
  right: 75%;
  top: 50%;
  left: 0;
  bottom: 25%;
  z-index: 6;
  position: absolute;
}
.b5-block0-3 {
  background-image: url("https://i0.wallpaperscraft.com/image/cintiq_wacom_screen_106121_300x168.jpg");
  background-color: #e0ffe4;
  right: 75%;
  top: 75%;
  left: 0;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.b5-block0-4 {
  background-color: #e0ffe4;
  right: 0;
  top: 0;
  left: 25%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.b5-block1 {
  background-color: grey;
  right: 75%;
  position: absolute;
  top: 17%;
  left: 4%;
  bottom: 30%;
  z-index: 5;
}
.b6 {
  background-image: url("");
  z-index: 5;
  height: 668.16px;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(https://cdn.shutterstock.com/shutterstock/videos/16580854/thumb/1.jpg);
  background-color: #EDCDC2;
  position: relative;
}
.b6-block0 {
  background-color: rgba(0, 0, 0, 0.94);
  height: 668.16px;
  right: 60%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.b6-block1 {

  height: 570px;
  right: 20%;
  position: absolute;
  top: 20%;
  left: 45%;
  opacity:;
}
.b6-block2 {
  background-color: grey;
  right: 70%;
  position: absolute;
  top: 17%;
  left: 8%;
  bottom: 55%;
  z-index: 5;
}
.b6-block3 {
  background-color: ;
  right: 75%;
  position: absolute;
  top: 17%;
  left: 10%;
  bottom: 60%;
  z-index: 4;
  border-width: 9px;
  border-style: solid;
  border-color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
body {
  position: relative;
  -webkit-text-size-adjust: none;
  text-align: center;
  overflow-x: hidden;
  color: #FFF;
  background-color: #f9f9f9;
  max-width: 2560px;
  width: 100%;
  min-width: 1286px;
}
* {
  margin: 0;
  padding: 0;
}
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
div,
table,
a,
img,
form,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
}
html body {
  margin: auto;
}
.b {
  max-width: 1380px;
}
.spanBGT {
  font-size: 7em;
  font-weight: 900;
  line-height: 0.8em;
  position: absolute;
  font-family: 'Lato', sans-serif;
  left: 0;
  top: 28%;
  bottom: 38%;
  color: #909090  ;
  opacity: 0.7;
}
.spanBG {
  font-size: 7em;
  font-weight: 900;
  line-height: 0.8em;
  position: absolute;
  font-family: 'Lato', sans-serif;
  left: 0;
  top: 43%;
  bottom: 38%;
  color: rgb(142, 142, 142);
  opacity: 0.7;
  z-index: 2;
}
.b2-font {
  top: 10%;
  font-size: 28px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #e2db19;
  opacity: 1 !important;
}

.logo-b2 {
  top: 10%;
  position: relative;
}
.text-b2 {
  color: #000;
  position: relative;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}
.text-b3 {
  color: #fff;
  position: relative;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}
.text1-b2 {
  text-align: left;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  right: -35%;
  left: -30%;
}
.texttitle {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 29px;
  right: -35%;
  left: -30%;
  text-align: left;
  opacity: 10!important;
}
.text-b4 {
  color: #fff;
  position: relative;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}
.text2-b4 {
  text-align: right;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  right: 83%;
  top: 8%;
  color: #e2db19;
}
.textpar {
  position: relative;
  font-size: 20px;
  text-align: left;
  top: 35%;
  left: 3%;
}

.B2-iclon{
  opacity: 1;
  width: 270px;
  height: 200px;
}
.B2-iclon:hover{
  opacity: 1!important;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  transition:all 0.3s ease;

}
.text-b3-box{
  font-family: Lato, sans-serif;
  color: black;
  text-align: center;
  padding-top:32%;
}
body > div{
  transition:all 0.4s ease;
}