.wrapper-button-language {
	width: 10%;
	height: 32px;
	background: #929491;
}

.lang {
	left: 90%;
}

.button-language-1 {
	width: 28%;
	height: 72%;
	background: #929491;
	display: inline-block;
	margin-top: 4.25px;
	margin-left: 5px;
}

.button-language-2 {
	width: 28%;
	height: 72%;
	background: #929491;
	display: inline-block;
	margin-top: 4.25px;
}

.button-language-3 {
	width: 28%;
	height: 72%;
	background: #929491;
	display: inline-block;
	margin-top: 4.25px;
	margin-left: 2px;
}

.button-language-1-p {
	width: 28%;
	height: 100%;
	margin: 0px;
	padding-top: 5px;
	padding-left: 10px;
}

.button-language-2-p {
	padding-top: 5px;
	width: 28%;
	height: 100%;
	margin: 0px;
	padding-left: 9px;
}

.button-language-3-p {
	padding-top: 5px;
	width: 28%;
	height: 100%;
	margin: 0px;
	padding-left: 9px;
}

.wrapper-button-language a {
	text-decoration: none;
}
.button-language-3-p-a {
	color: #595958;
}
.button-language-2-p-a {
	color: #595958;
}

.button-language-1-p-a {
	color: #595958;
}

.button-language-2:hover a {
	color: #929491;
}

.button-language-2:hover {
	background: #595958;
}

.button-language-1:hover  a {
	color: #929491;
}

.button-language-1:hover {
	background: #595958;
}
.button-language-3:hover  a {
	color: #929491;
}

.button-language-3:hover {
	background: #595958;
}